<div class="page-content">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center p-3">
      <div id="about" class="row cover">
        <h2 class="text-center" data-aos="fade-left" data-aos-delay="0">About Me</h2>
        <div class="row">
          <div class="col-md-6 text-center about-info" data-aos="fade-left" data-aos-delay="200">
            <img class="img-circle profile-img" src="../../assets/avatar.jpg" />
            <p style="text-align:justify!important">I'm a web developer from Chennai, TN. I'm currently working in Tata Cunsultancy Services in an Insurance Project. I have masters degree in Computer Applications (MCA). I have total of 3 years of experience as developer </p>
          </div>
          <div class="col-md-6 about-tools" data-aos="fade-left" data-aos-delay="300">
            <p class="text-skill">Some things I know</p>

            <div class="row skills-bg">
              <div class="col">
                <ul class="text-skill">
                  <li>C#</li>
                  <li>ASP.NET</li>
                  <li>Javascript</li>
                  <li>Angular</li>
                </ul>
              </div>
              <div class="col">
                <ul class="text-skill">
                  <li>MS SQL</li>
                  <li>Python</li>
                  <li>Git</li>
                  <li>Flutter</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div><!-- End #About -->
    </div>
    </div>
  </div>
