<div class="d-flex flex-wrap align-items-center justify-content-center">
  <div id="projects">
  <h2 class="text-center" data-aos="fade-left" data-aos-delay="0">Projects</h2>
  <div class="wrapper row">

    <div class="header col">
      <div class="d-flex flex-wrap align-items-center justify-content-center height-100">
        <div class="card height-100" data-aos="fade-left" data-aos-delay="0">
          <div class="card-body">
            <h5 class="card-title">Clipy</h5>
            <p class="card-text">Simple clipboard to store and access copied data across all platform</p>
            <button class="learn-more button">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">In Progress..</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header col">
      <div class="d-flex flex-wrap align-items-center justify-content-center height-100">
        <div class="card height-100" data-aos="fade-left" data-aos-delay="0" (click)="onNavigate()">
          <div class="card-body">
            <h5 class="card-title">Battery+</h5>
            <p class="card-text">Flutter cross platform aplication to get battery details along with device details</p>
            <button class="learn-more button">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Take me there..</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
