/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
.loading {
    font-size:larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
  }

  40% {
    color: white;
    text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
  }

  60% {
    text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
  }

  80%, 100% {
    text-shadow: .25em 0 0 white, .5em 0 0 white;
  }
}


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 97%;
  max-width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
  html::-webkit-scrollbar {
    display: none;
  }

body {
  margin-bottom: 60px;
  background-color: #1e1e1e;
  color: white;
  overflow-x: hidden;
  font-family:'Poppins', sans-serif;
  line-height: 2rem;

}

app-root {
  display: block;
  height: 100%;
}
